body {
    min-width: 150px;
    background-image: linear-gradient(to bottom right, #315947, #102622);
}

#info {
    color: #d9ceff;
    font-size: medium;
    font-weight: bold;
}
/* background-image: linear-gradient(to bottom right, #27668C, #1D4259); */
/* background-image: linear-gradient(to bottom right, #315947, #102622); */
/* background-image: linear-gradient(to bottom right, #395D73, #092126); */
/* background-image: linear-gradient(to bottom right, #557373, #012E40); */